
body, ul, li {
    font-size:14px; 
    font-family:Arial, Helvetica, sans-serif;

    text-align:left;
}


/* = STEPS CONTAINER
           ----------------------------*/
.wizard-steps {
    margin:20px 10px 0px 10px;
    padding:0px;
    position: relative;
    clear:both;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;

}
.wizard-steps div {
    position:relative;


}
/* = STEP NUMBERS
----------------------------*/
.wizard-steps span {
    display: block;
    float: left;
    font-size: 10px;
    text-align:center;
    width:15px;
    margin: 2px 5px 0px 0px;
    line-height:15px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
/* = DEFAULT STEPS
----------------------------*/
.wizard-steps a {
    //width:auto;
    position:relative;
    display:block;

    height:24px;
    margin-right: 18px;
    padding:0px 10px 0px 3px;
    float: left;
    font-size:11px;
    line-height:24px;
    color:#666;
    background: #F0EEE3;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(255,255,255, 0.8);
}
.wizard-steps a:before {
    width:0px;
    height:0px;
    border-top: 12px solid #F0EEE3;
    border-bottom: 12px solid #F0EEE3;
    border-left:12px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -12px;
}
.wizard-steps a:after {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left:12px solid #F0EEE3;
    position: absolute;
    content: "";
    top: 0px;
    right: -12px;
    text-wrap: nowrap;
}


/* = COMPLETED STEPS
----------------------------*/

.wizard-steps .completed-step a {
    color:#163038;
    background: #A3C1C9;
}
.wizard-steps .completed-step a:before {
    border-top: 12px solid #A3C1C9;
    border-bottom: 12px solid #A3C1C9;
}
.wizard-steps .completed-step a:after {
    border-left: 12px solid #A3C1C9;
}
.wizard-steps .completed-step span {
    border: 2px solid #163038;
    color: #163038;
    text-shadow:none;
}
/* = ACTIVE STEPS
----------------------------*/
.wizard-steps .active-step a {

    color:#A3C1C9;
    background: #163038;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .active-step a:before {
    border-top: 12px solid #163038;
    border-bottom: 12px solid #163038;
}
.wizard-steps .active-step a:after {
    border-left: 12px solid #163038;
}
.wizard-steps .active-step span {
    color: #163038;
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    -moz-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    text-shadow:none;
    border: 2px solid #A3C1C9;
}
/* = HOVER STATES
----------------------------*/
.wizard-steps .completed-step:hover a, .wizard-steps .active-step:hover a {
    color:#fff;
    background: #8F061E;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .completed-step:hover span,.wizard-steps .active-step:hover span {
    color:#8F061E;
}
.wizard-steps .completed-step:hover a:before, .wizard-steps .active-step:hover a:before {
    border-top: 12px solid #8F061E;
    border-bottom: 12px solid #8F061E;
}
.wizard-steps .completed-step:hover a:after, .wizard-steps .active-step:hover a:after {
    border-left: 12px solid #8F061E;
}

//
.wizard-steps .completed-step:hover span,.wizard-steps .process1:hover span {
    color:#8F061E;

}
.wizard-steps .completed-step:hover a,.wizard-steps .process1:hover a {
    color:#fff;
    background: #8F061E;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}

.wizard-steps .completed-step:hover a:before,.wizard-steps .process1:hover a:before {
    border-top: 12px solid #8F061E;
    border-bottom: 12px solid #8F061E;
}
.wizard-steps .completed-step:hover a:after,.wizard-steps .process1:hover a:after{
    border-left: 12px solid #8F061E;
}


.mandatory
{
    color:red;
}


.tab-steps {
    /*margin:20px 10px 0px 10px;*/
    padding:0px;
    position: relative;

    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;

}

.tab-steps a {
    //width:auto;
    position:relative;
    display:block;

    /*        height:24px;
            margin-right: 18px;
            padding:0px 10px 0px 3px;*/
    /*    float: left;*/
    font-size:11px;
    line-height:24px;
    color:#666;
    background: #F0EEE3;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(255,255,255, 0.8);
}
.tab-steps a:before {
    width:0px;
    height:0px;
    /*    border-top: 12px solid #F0EEE3;
        border-bottom: 12px solid #F0EEE3;
        border-left:12px solid transparent;*/
    position: absolute;
    content: "";
    /*    top: 0px;
        left: -12px;*/
}
.tab-steps a:after {
    width: 0;
    height: 0;
    /*    border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left:12px solid #F0EEE3;*/
    position: absolute;
    content: "";
    /*    top: 0px;
        right: -12px;*/
    text-wrap: nowrap;
}
/* = ACTIVE STEPS
----------------------------*/
.tab-steps .active-step a {

    color:#A3C1C9;
    background: #163038;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.tab-steps .active-step a:before {
    /*    border-top: 12px solid #163038;
        border-bottom: 12px solid #163038;*/
}
.tab-steps .active-step a:after {
    /*border-left: 12px solid #163038;*/
}



/*    Excel like table                                 */

table.Events{ margin-top:2em; border-collapse:collapse; border:1px solid #ccc; font-size: 12}
table.Events th{padding:4px 10px; border:1px solid #ccc; background:#eee; border-top:2px solid #333; border-bottom:2px solid #333; font-weight: bold;}
table.Events td{padding:2px 2px; border:1px solid #ccc;}
table.Events focus{outline:none;}
table.Events td:focus{background:#FFD; outline:1px solid #08F;}
table.Events td:active{background:#FFD;}

table.RecNavigation {margin-top:.5em; border-collapse:collapse;  background:#eee; }

.l1{padding-left:10px;}
.l2{padding-left:30px;}
.l3{padding-left:50px;}

.t1 td{font-weight:bold; background:#e8e8e8; border-top:2px solid #333;}
.t2 td{font-weight:bold; background:#f6f6f6;}
.t3 td{font-weight:bold; background:#fff;}

.s0 td{font-weight:bold; background:#eee; padding-left:10px; border-top:2px solid #333; border-bottom:2px solid #333;}
.s1 td{font-weight:bold; background:#e8e8e8;}
.s2 td{font-weight:normal; background:#f6f6f6;}
.s3 td{font-weight:bold; background:#fff;}

<!-- in yourStyleSheet.css file -->
div.fullWidth {
    width:100%; 
    height:100%; 
    background-color:#CCC;
}

li {
    white-space: nowrap;
 }
 
 
 