html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    text-align: center!important;
}
/*@media (min-width: 320px) and (max-width: 1366px) 
{
.t-class h3 {
    padding-top: 64px;
    font-size: 24px;
    text-align: center;
}
.tittle-bar {
	height:80px;
    background: url(../img/top-001.png) repeat -100px 0!important;
    z-index: 0;
}
.tittle-bar-bottom {
	height:80px;
	position: absolute!important;
	bottom: 0px;
	background: url(../img/top-002.png) repeat 1420px 0!important;
	z-index: 0;
}
}*/
.class-bar {
	
}
.class-bar h4 {
	text-align: center;
	font-size: 40px;	
	font-weight:bold;
}
.tb-right {
	background: url(../img/bg-top-right.png) no-repeat 0 0!important;
	background-position: right top!important;
	height:150px;
	z-index: 999;
}
.tb-left {
	height:175px;
	background: url(../img/bg-top-left.png) no-repeat 0 0!important;
	background-position: right top!important;
	z-index: 999;
}
.main-tittle h4 {
	/*color:#6B6B6B;
	display: inline;*/
	color: #1D1D1D;
    display: inline;
    font-size: 24px;
}
.main-tittle {
	float: right;
	padding-top: 35px;
    margin-right: 40px;
}
.main-tittle-top img {
	padding-top: 10px;
    height: 140px;
}
.main-tittle-top {
	float: left;
}
.main-tittle img {
	padding: 5px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f2f2f2!important;
}
.table {
    margin-bottom: 0px!important;
   }
 .v-class {
 	display: table;
 	height: 150px;
 }
  .v-class h3 {
 	display: table-cell;
 	vertical-align: middle;
 }
  .g-class {
 	display: table;
 	height: 150px;
 }
  .g-class h4 {
 	display: table-cell;
 	vertical-align: middle;
 }
/*.tittle-bar h4 {
	text-align: center;
}*/
.b-class h4 {
    padding-left: 10px;
    font-size: 24px;
}
.b-class {
	padding: 0px!important;
}
.t-class h3 {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px!important;
    margin-bottom: 10px;
}
.tittle-bar {
	height:175px;
	padding:0px!important;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: url(../img/top-001.png) repeat-x 0 0;
}
.tittle-bar-bottom {
	padding:0px!important;
	height:150px;
	position: absolute!important;
	bottom: 0px;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: url(../img/top-002.png) repeat-x 0 0;
}
.widget-content {
	color: #6B6B6B;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  /*background: url(../img/bg-content01.png) repeat-x 0 0;*/
}
.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
html, body {
  min-height: 100%;
}

body {
  font: 12px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
	background: rgba(235,235,235,1);
	background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(176,188,207,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(100%, rgba(176,188,207,1)));
	background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(176,188,207,1) 100%);
	background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(176,188,207,1) 100%);
	background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(176,188,207,1) 100%);
	background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(176,188,207,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#b0bccf', GradientType=0 );

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

[class*="icon-"] {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

.icon-psd-40 {
  background-position: 0 0;
}

.icon-ai-24 {
  background-position: -40px 0;
}

.icon-close {
  background-position: -40px -24px;
}

.widget {
  margin: 80px auto;
  width: 750px;
  overflow: hidden;
  background: #fafafa;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.widget-heading {
  /*position: relative;
  z-index: 2;*/
  padding: 8px;
  height: 24px;
  background: #eee;
  border-radius: 4px 4px 0 0;
  background-image: -webkit-linear-gradient(top, #1aa4ad, #1aa4ad);
  background-image: -moz-linear-gradient(top, #1aa4ad, #1aa4ad);
  background-image: -o-linear-gradient(top, #1aa4ad, #1aa4ad);
  background-image: linear-gradient(to bottom, #1aa4ad, #1aa4ad);
  -webkit-box-shadow: inset 0 21px rgba(255, 255, 255, 0.22);
  box-shadow: inset 0 21px rgba(255, 255, 255, 0.22);
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.widget-title {
  float: left;
  line-height: 24px;
  padding: 0 6px;
  font-size: 13px;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.widget-close {
  float: right;
  margin: 0 1px 0 10px;
  padding: 3px 3px 3px 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
}
.widget-close:hover {
  border-color: rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.widget-close:active {
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.widget-toolbar {
	color: #FFFFFF;
	font-weight: bold;
  /*position: relative;*/
  height: 18px;
  line-height: 18px;
  padding: 6px 0;
  background: #5c5c5c;
  background-image: -webkit-linear-gradient(top, #878787, #5c5c5c);
  background-image: -moz-linear-gradient(top, #878787, #5c5c5c);
  background-image: -o-linear-gradient(top, #878787, #5c5c5c);
  background-image: linear-gradient(to bottom, #878787, #5c5c5c);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.25), inset 0 2px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25), inset 0 2px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.5);
}
.widget-toolbar > li {
  float: left;
}
.widget-toolbar > li > a {
  display: block;
  padding: 0 12px;
  font-size: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.widget-toolbar > li + li {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 0 rgba(255, 255, 255, 0.1);
}

