/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2014, 3:28:35 PM
    Author     : cntuser
*/

/* top level
--------------------------------------------*/
.menuTemplate1
{
    /* You will get totally diffrent menu alignment and layout by setting following margin, width, and float with different values.
    For detailed instruction please visit www.menucool.com/horizontal/menu-layout  */
    margin: 0 auto; width: auto;float:left;
    /*following "behavior" works for IE6, IE7, and IE8. Other browsers will ignore it.*/
    /*Note: htc file path(if using relative path) inside the CSS file should be relative to the page, not to the CSS file (this is unlike image path inside the CSS that is relative to the CSS file location only). 
    So we recommend using the absolute path for the behavior file.*/
    /*behavior: url("/horizontal/menuh/cssmenu.htc");*/
    position:relative;
    z-index:4;
    height: 36px;
    background: #D4D4D4 url(bg.gif);
    
    border: 1px solid #BBB;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
}
.menuTemplate1 li
{
    padding: 0;
    float: left;
    height: 36px;
    position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
    color: black;
    z-index:5;
}

.menuTemplate1 a
{
    padding: 0 25px;
    line-height: 36px; /*Note: keep this value the same as the height of .menuTemplate1 li */
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: black;
    position: relative;
}
.menuTemplate1 li:hover a, .menuTemplate1 li.onhover a
{
    background: white url(bg.gif) repeat-x 0 -48px;
    color: #000;
    z-index: 9;
}
.menuTemplate1 a.arrow
{
    background: url(Images/arrow1.gif) no-repeat right center;
}
 
        
/*Used to align a top-level item to the right*/        
.menuTemplate1 li.menuRight
{
    float: right;
    margin-right: 0px;
}
        
/*for the top-level separators*/
.menuTemplate1 li.separator
{
    font-size:0;
    overflow:hidden;
    border-left:1px solid #F7F7F7;
    border-right:1px solid #BBBBBB;
    z-index:4;
}
               
        
/* sub level
--------------------------------------------*/
        
.menuTemplate1 .drop
{
    position: absolute;
    z-index:5;
    left: -9999px;
    border: 1px solid #DDD;
    border-bottom:3px solid #0F4F89;
    background: #FFF;            
    text-align: left;
    padding: 20px;  
    color:#0F4F89;
    top:34px;              
}

.menuTemplate1 .drop a
{
    padding-left: 0px;
    padding-right: 0px;
    line-height: 26px;
    font-size: 12px;
    font-weight: normal;
    display: inline;
    text-align: left;
    
    position: static;
    z-index: 0;
    background-image:none;
}

.menuTemplate1 li:hover .drop, .menuTemplate1 li.onhover .drop
{
    left: -1px;/*Use this property to change offset of the dropdown*/
    background:white url(bg-right.png) no-repeat right bottom;
}
.menuTemplate1 li:hover .dropToLeft, .menuTemplate1 li.onhover .dropToLeft
{
    left: auto;
    right: -1px;
    background:white url(bg-left.png) no-repeat 0 bottom;
}
.menuTemplate1 li:hover .dropToLeft2, .menuTemplate1 li.onhover .dropToLeft2
{
    left: auto;
    right: -60px;
}

/* Elements within the drop down sub-menu
--------------------------------------------*/

.menuTemplate1 div.drop div div
{
    padding: 6px 20px;
}
.menuTemplate1 li:hover .drop a, .menuTemplate1 li.onhover .drop a
{
    background: none;
    background-image:none;
    padding:0 0;
}
.menuTemplate1 div.drop div a
{
    line-height: 24px;  
    color: #0F4F89;
    background:none;
}
.menuTemplate1 div.drop div a:hover
{
    text-decoration:underline;
    cursor:pointer;
    color:Red;
}

.menuTemplate1 div.left {float:left;}

        
/* CSS3 effects
--------------------------------------------*/

/*for top-level*/     
.decor1_1 
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0px 1px 4px #ccc;
    -webkit-box-shadow: 0px 1px 4px #ccc;
    box-shadow: 0px 1px 4px #ccc;
            
}

/*for submenu.*/    
.decor1_2 
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0px 12px 20px #CCCCCC;
    -webkit-box-shadow: 0px 12px 20px #CCCCCC;
    box-shadow: 0px 12px 20px #CCCCCC;  
}



/*
<ul class="menuTemplate1 decor1_1" license="mylicense">
    <li><a href="#CSS-Menu">CSS Menu</a></li>
    <li class="separator"></li>
    <li><a href="#Horizontal-Menus" class="arrow">Horizontal Menus</a>
        <div class="drop decor1_2" style="width: 640px;">
            <div class='left'>
                <b>CSS Menu</b>
                <div>
                    <a href="#">Html 5 menu</a><br />
                    <a href="#">Web menu CSS</a><br />
                    <a href="#">Css menus</a><br />
                    <a href="#">Nav element</a><br />
                    <a href="#">SEO menu</a>
                </div>
            </div>
            <div class='left'>
                <b>Menu Templates</b>
                <div>
                    <a href="#">Menu template</a><br />
                    <a href="#">Menu skin</a><br />
                    <a href="#">Web menu styles</a><br />
                    <a href="#">Best css menus</a>
                </div>
            </div>
            <div class='left'>
                <b>SEO Friendly</b>
                <div>
                    <a href="#">Search engine friendly</a><br />
                    <a href="#">Best css menu</a><br />
                    <a href="#">Most popular menus</a><br />
                    <a href="#">Best web menu designs</a><br />
                    <a href="#">E-Commerce sites</a><br />
                    <a href="#">CSS Templates</a><br />
                    <a href="#">Menu Design Templates</a><br />
                    <a href="#">Clean layout & alignment</a><br />
                    <a href="#">Favorite menus</a>
                </div>
            </div>
            <div class='left' style="text-align:right; width:200px;">
                <img src="../img/demo/hd6.png" style="width:128px; height:128px;" /><br />
                Search Engine friendly (SEO)
            </div>
            <div style='clear: both;'></div>
        </div>
    </li>
    <li class="separator"></li>
    <li><a href="#CSS">CSS</a></li>
    <li class="separator"></li>
    <li><a href="#Horizontal-Menu-CSS">Horizontal Menu CSS</a></li>
    <li class="separator"></li>
    <li><a href="#Web-Menu" class="arrow">Horizontal Web Menu</a>
        <div class="drop decor1_2 dropToLeft2" style="width: 500px;">
            <div class='left'>
                <b>SHOPPING TOOLS</b>
                <div>
                    <a href="#">Build your script</a><br />
                    <a href="#">Review current offers</a><br />
                    <a href="#">See All ...</a>
                </div>
                <b>RSS FEED</b>
                <div>
                    <a href="#">Find a location</a><br />
                    <a href="#">Request a test drive</a><br />
                    <a href="#">See All ...</a>
                </div>
            </div>
            <div class='left'>
                <b>BE CREATIVE</b>
                <div>
                    <a href="#">Build your script</a><br />
                    <a href="#">Review current offers</a><br />
                    <a href="#">See All ...</a>
                </div>
            </div>
            <div class='left' style="text-align:right; width:160px;">
                <img src="../img/demo/hd7.png" style="width:128px; height:128px;" /><br />
                Contact Us
            </div>
                
        </div>
    </li>
    <li class="separator"></li>
    <li><a href="#Web-Menus" class="arrow">Web Menus</a>
        <div class="drop decor1_2 dropToLeft" style="width: 460px;">
            <img src="../img/demo/css-menu-t3.jpg" style="float:left; width:98px;
                height:180px;margin:10px 80px 10px 40px;" />
            <div class='left'>
                <b>PURE CSS MENU</b>
                <div>
                    <a href="#">Build your script</a><br />
                    <a href="#">Review current offers</a><br />
                    <a href="#">See All ...</a>
                </div>
                <b>POPOUT MENU</b>
                <div>
                    <a href="#">Find a location</a><br />
                    <a href="#">Request a test drive</a><br />
                    <a href="#">See All ...</a>
                </div>
            </div>
        </div>
    </li>
</ul>*/