
.button {
   display: inline-block;
   line-height: 1;
   padding: 7px 10px;
   text-decoration: none;
   font-weight: bold;
   color: #fff;
   background-color: grey;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
}
input.button, button.button {
   border: 0px none;
}
.buttonwrap {
   display: inline-block;
   position: relative;
   zoom: 1;
   /*display: inline;*/
}
.corner {
   position: absolute;
   width: 5px;
   height: 5px;
 
}
.tl { top: 0; left: 0; background-position: left top; }
.tr { top: 0; right: 0; background-position: right top; }
.bl { bottom: 0; left: 0; background-position: left bottom; }
.br { bottom: 0; right: 0; background-position: right bottom; }
