
#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	background:#4e738f;
	color:#fff;
	font-weight:bold;
	font-size:9pt;
	text-align:left;
}
#gradient-style td
{
	padding: 2px;
	border-bottom: 1px solid #fff;
	color: #000;
	border-top: 1px solid #fff;
	font-weight:bold;
	font-size:10pt;
	/*background: #e8edff url('table-images/gradback.png') repeat-x;*/
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}
