
#framecontent{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 40px; /*Height of frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
/*background:url("Images/trans-wood-1.png"); */
color: white;
}

#maincontent{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom:50px; /*Set bottom value to HeightOfFrameDiv*/
overflow: auto;
/*background:url("Images/trans-wood-1.png");*/
}

.innertube{
margin: 2px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

* html body{ /*IE6 hack*/
padding: 0 0 130px 0; /*Set value to (0 0 HeightOfFrameDiv 0)*/
}

* html #maincontent{ /*IE6 hack*/
height: 100%;
width: 100%;
}
