

/*#header { width : 80%; height:0% }*/
div#header {
margin: 0px;
text-align: center;
}


*{ margin: 0; padding: 0; }*
/*body {  background:url("Images/trans-wood-1.png"); font: .89em "Trebuchet MS", Arial, Sans-Serif; color: #444; font-size: 2px;}*/
fieldset { padding:20px;  }
input, textarea, select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}
fieldset.action {background:#9da2a6; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-20px;}
legend {background:#4e738f; color:#fff; font:17px/21px Calibri, Arial, Helvetica, sans-serif; padding:0 10px; margin:-26px 0 0 -11px; font-weight:bold; border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;}


	h1 { font-size: 3em; font-weight: normal; float: left; }

	h1 a { text-decoration: none; }

	h2 { font-size: 2em; color: #FFF2B3; font-weight: normal; margin: 0 0 .8em; }

	h3 { font-size: 1.5em; border-bottom: 1px solid #eee; margin: 0 0 .8em; }

	p  { margin: 0 0 2em 0; line-height: 1.8em; }

	em { border-bottom: 1px dotted #fff; cursor: pointer; }

	a { float: left;  padding: 4px; text-decoration: none; font-size: 15px; color: #FFFFFF;  }

	a:hover { color: #A0000E; text-decoration: none; }
	img { border: 0; }
	.red { color: #9D2900; }






div#wrapper {
width: 88%;
background:url("Images/trans-wood-1.png");
margin-top:10px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: 0px;
/*border: thin solid #000000;*/
height: 100%
}

div#nav {
width: 18%;
position : absolute;
padding-left: 10px;
margin-top: 1px;
float: left;
height:100%;
color : #000000;
}

#content {
background:  url("Images/logo_apccpfa_oficial_no_back4.png") no-repeat center;
top : 0px;
margin : 0px 25% 0 170px;
padding : 0 0px 8px 3px;
color : #000000;
width : 80%;
height:100%;
border : 0px solid #ccc;
}
#content h1, #content h2 {
color : #cc0000;
}


    .altRow
    {

    }

    .altRow td
    {
    border-bottom:1px dotted #AFA299;
    font-size:9pt;
    padding:5px 0 5px 5px;
    vertical-align:top;
    }


    .altRow  th
    {
    background:#B7C0C7;
    color:#013366;
    font-weight:bold;
    font-size:9pt;
    text-align:left;
    }
#menu  {  background:url("Images/BackGroundPic2_copy.png"); padding:60px 0 0 0; list-style: none; background-size: 900px }
#menu li { display: inline; }

#menu a { display: inline; float: right; margin-left: 10px; padding: 7px; text-decoration: none; font-size: 10px; color: #000000; 
-moz-border-radius: 20px;
-webkit-border-radius:20px;
background-color: #DBDB70;}


#menu a:hover { color: #000; solid #ccc; background-color: #FFFFFF;  text-decoration: none; font-size: 14px; }
#menu .active a { solid #C70012; color: #9D2900;}





div#footer {width:100%; /* makes the div fill its container - usually body */

padding:4px 0; /* pushes the links away from top and bottom of the div */
font-size:.65em; /* sets the font size of all links */
text-align:center; /* centers the ul elements in the div */
background-color:#000080; /* sets the background color of the div */
clear:both;
}

#customers
{
font-size: 14px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:90%;
border-collapse:collapse;
}
#customers td, #customers th
{
font-size:1em;
border:1px solid #FFFFFF;

}
#customers th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#customers tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}





function calen(temp,tName,xLeft,yTop,Val) 
{

  if(temp==undefined)
	  temp=document.forms[0]

  var yHeight = "";
  var xWidth = parseInt(xLeft - 200);

  var avilTH = window.screen.availHeight;
  var avilH = parseInt(yTop + 200);

  if(parseInt(avilTH) < parseInt(avilH) ) {
    yHeight = parseInt(yTop - 220);
  }
  else {
    yHeight = parseInt(yTop + 15);
  }

  var Ts_var = "";
  var formlen = temp.elements.length;
  for(var Ti=0; Ti<(parseInt(formlen)); Ti++) {
    var Ts_na=temp.elements[Ti].name;
    if ( Ts_na == "Dt" && Val != "0" ) {
      temp.elements[Ti+1].value = "";
    }
    if ( Ts_na == tName ) {
      Ts_var = Ti;
      if( Val != "0" ) {
        temp.elements[Ti-1].checked = true;
      }
    }
  }



