    
body {

 font: .89em "Trebuchet MS", Arial, Sans-Serif;
}


div#wrapper {
width: 88%;
background:url("Images/trans-wood-1.png");

margin-top:0px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: 0px;
border: thin solid #000000;
}


div#header {
margin: 0px;
text-align: center;
}



div#nav {
width: 18%;
position : absolute;
padding-left: 20px;
margin-top: 1px;
float: left;
height:100%;
color : #000000;
}

div#main {
margin-left: 15%;
background:  url("Images/logo_apccpfa_oficial_no_back4.png") no-repeat center;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;

}


div#footer {
padding: 15px;
margin: 0px;
border-top: thin solid #000000;
}



fieldset { padding:8px;  }
legend {
background:#4e738f; 
color:#fff; 
font:17px/21px Calibri, Arial, Helvetica, sans-serif; 
padding:0px  4px; 
margin:0px 0 0 0px; 
font-weight:bold;
border:1px solid #fff; 
border-color:#e5e5c3 #505014 #505014 #e5e5c3;
}

input, textarea, select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}




.altRow
{

}

.altRow td
{
	border-bottom:1px dotted #ffffff;
	font-size:9pt;
	color:#000000;
	padding:5px 0 5px 5px;
	vertical-align:top;
	text-align:center;
}


.altRow  th
{
	background:#B7C0C7;
	color:#013366;
	font-weight:bold;
	font-size:9pt;
	text-align:center;
}



a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: underline;
color: #FF0000;
}
/*a:hover { color: #000; solid #ccc; background-color: #FFFFFF  text-decoration: none; font-size: 14px; }*/
a:active {
text-decoration: none;
}