


*{ margin: 0; padding: 0; }*
 body {font: .89em "Trebuchet MS", Arial, Sans-Serif;}



fieldset { padding:8px;  }


legend {
background:#4e738f; 
color:#fff; 
font:17px/21px Calibri, Arial, Helvetica, sans-serif; 
padding:0px  4px; 
margin:0px 0 0 0px; 
font-weight:bold;
border:1px solid #fff; 
border-color:#e5e5c3 #505014 #505014 #e5e5c3;
}


a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
cursor:pointer;
text-decoration: underline;
color: #FF0000;
}
a:active {
text-decoration: none;
}


.label
{
 float: right;

}

p {text-align:center}
 
#container {
	width:960px;
	margin:auto;
}
 

#header {
 
 text-align:center;
 position:relative;

}
 
#content {
	float:right;
	width:820px;

}
 
#sidebar {
	float:left;
	width:120px;
	text-align:center;
	padding:5px
}
 
#footer {
	clear:both;
	text-align:center;
	background: #555;
	color:#fff;
	height:50px;
	padding:5px
}


.dateStyleBody
{
	font-size: 8px;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	FONT-STYLE: italic;
	color: maroon; /* before 7/17/2006 maroon; */
}


.allcaps {
text-transform: uppercase;
background-color:  #FFF8DC;
border:  1px solid #000000;
}