


*{ margin: 0; padding: 0; }*
 body {  background:url("Images/trans-wood-1.png"); font: .79em "Trebuchet MS", Arial, Sans-Serif;}



fieldset { padding:8px;  }


legend {
background:#4e738f; 
color:#fff; 
font:17px/21px Calibri, Arial, Helvetica, sans-serif; 
padding:0px  4px; 
margin:0px 0 0 0px; 
font-weight:bold;
border:1px solid #fff; 
border-color:#e5e5c3 #505014 #505014 #e5e5c3;
}



.altRow
{

}

.altRow td
{
	border-bottom:1px dotted #ffffff;
	font-size:9pt;
	color:#000000;
	padding:5px 0 5px 5px;
	vertical-align:top;
	text-align:left;
}


.altRow  th
{
	background:#4e738f;
	color:#fff;
	font-weight:bold;
	font-size:9pt;
	text-align:center;
}



a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
cursor:pointer;
text-decoration: underline;
/*color: #FF0000;*/
}
a:active {
text-decoration: none;
}


.label
{
 float: right;

}






p {text-align:center}
 
#container {
	width:960px;
	margin:auto;
}
 




#header {
 
 text-align:center;
 position:relative;
         
	/*background: #777;
	color:#fff;
	
	padding:5px*/
}
 
#content {
	float:right;
	width:820px;
	/*text-align:center;*/
	
	/*background:#ccc;*/
	
}
 
#sidebar {
	float:left;
	width:120px;
	text-align:center;
	padding:5px
}
 
#footer {
	clear:both;
	text-align:center;
	background: #555;
	color:#fff;
	height:50px;
	padding:5px
}


.dateStyleBody
{
	font-size: 8px;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	FONT-STYLE: italic;
	color: maroon; /* before 7/17/2006 maroon; */
}
/*---------------Pedigree CSS----------*/
.altRow_Pedigree
    {

    }

.altRow_Pedigree td
{

    font-size:9pt;
    padding:1px 1px 5px 5px;
    vertical-align:top;
}


.altRow_Pedigree th
{
    background:#B7C0C7;
    color:#013366;
    font-weight:bold;
    font-size:9pt;
    text-align:left;
}
td.bottom
{
        border-bottom:solid 1px #013366;
}
td.right
{
        border-right:solid 1px #013366;           
        border-collapse:collapse;                     
}
.Sire {
    border: 1px solid #000000;
    background: #FFFFFF;
    width:160px;
    background-color:#989898;
    text-transform: uppercase;
}
.Sire_bot {
    border: 1px solid #000000;
    background: #FFFFFF;    
    background-color:#D8D8D8;   
    text-transform: uppercase;
}

.Dam {
    border: 1px solid #FF3300;
    background: #FFFFFF;
    width:160px;
    background-color:#FF8566;
    text-transform: uppercase;
}
.Dam_bot {
    border: 1px solid #FF3300;
    background: #FFFFFF; 
    background-color:#FFD6CC;
    text-transform: uppercase;
}
.Sire_sec_gen {
    border: 1px solid #000000;
    background: #FFFFFF;
    width:184px;
    background-color:#888888 ; 
    text-transform: uppercase;
}

.Dam_sec_gen {
    border: 1px solid #FF3300;
    background: #FFFFFF;
    width:183px;
    background-color:#FF8566;
    text-transform: uppercase;
    
}
/*---------------Pedigree CSS--end--------*/
.buttonstyle
{

}

.buttonstyle td
{
	border-bottom:1px dotted #ffffff;
	font-size:9pt;
	color:#000000;
	padding:5px 0 5px 5px;
	vertical-align:top;
	text-align:center;
}


.buttonstyle  th
{
	background:#4e738f;
	color:#fff;
	font-weight:bold;
	font-size:9pt;
	text-align:center;
}

.allcaps {
text-transform: uppercase;
background-color:  #FFF8DC;
border:  1px solid #000000;
}
