
/* dock - top */
.dockTime {
      position: absolute;
      text-align: right;
      color:white;
      top: 15px;
      right:20px;
}

.dock {
      position: absolute;
      height: 50px; 
      text-align: center;
      top: 15px;
      right: 150px;
}
.dock-container {
	position: absolute;
	height: 50px;
	
	padding-left: 20px;
}
a.dock-item {
	display: block;
	width: 40px;
	color: #FFF;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}

/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.ac_results {
         
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
        z-index: 99999;
        text-transform:lowercase;
}

.ac_results ul {
	width:100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
    
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*color: #972800;
	font-family:Arial, Helvetica, sans-serif;*/
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12px;
        font:menu;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
        text-transform:uppercase;

}

.ac_loading {
	background: white url('Images/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


.input_city{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #FF7C08;
	padding:2px;
	width:130px;
	color:black;
	background:  #FFF8DC url(Images/magnifier.png) no-repeat 1px 1px;
	padding-left:17px;
}
.input_state{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #FF7C08;
	padding:2px;	
	color:black;
	background:white url("Images/search.png") no-repeat 3px 2px;
	padding-left:17px;
}
.input_zip{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #FF7C08;
	padding:2px;
	width:80px;
	color:black;
	background:white url("Images/search.png") no-repeat 3px 2px;
	padding-left:17px;
}
