/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}




#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	background:#4e738f;
	color:#fff;
	font-weight:bold;
	font-size:9pt;
	text-align:left;
}
#gradient-style td
{
	padding: 2px;
	border-bottom: 1px solid #fff;
	color: #000;
	border-top: 1px solid #fff;
	background: #e8edff url('table-images/gradback.png') repeat-x;
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}



.even
{
	margin: 0px 0px 0px 0px;
	padding: 0em 0em 0em 0em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	letter-spacing: 0px;
       
       


}

.odd
{
	margin: 0px 0px 0px 0px;
	background-color: #DCDCDC;
	padding: 0em 0em 0em 0em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	letter-spacing: 0px;
}

.Grid_Header
{
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	background-color:#4e738f;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

/* This section is used for the GridViews */
table.grid
{
	margin: 0px 0px 0px 0px;
	padding: 0em 0em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	letter-spacing: 0px;
	border: none;
      
}

table.grid a:link
{
	margin: 0px 0px 0px 0px;
	padding: 0em 0em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	letter-spacing: 0px;
}

table.grid a:visited
{
	margin: 0px 0px 0px 0px;
	padding: 0em 0em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	letter-spacing: 0px;
}

table.grid a:hover
{
	margin: 0px 0px 0px 0px;
	padding: 0em 0em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 12px;
	color: black;
	text-decoration: underline;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	letter-spacing: 0px;
}

.grid tr:hover td
{
	background: #4e738f ;
	color: #339;
        cursor : pointer;
}

.grid th.sorted a, th.sortable a {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        background-color:#4e738f;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        text-decoration:none


 }
 .grid th.sortable a {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        background-color:#4e738f;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        text-decoration:none
 }
 .grid th.order1 a {
     background-position: right 50%;
      background-image: url(Images/sort_dn_1.gif);
 }
 .grid th.order2 a {
     background-position: right 50%;
      background-image: url(Images/sort_up_1.gif);
 }

.grid th
{
	background: #4e738f ;
	color: white;
        cursor : pointer;
        padding: 0.5em 0.5em;
       
}
.grid_OwnerHis td
{
	margin: 0px 0px 0px 0px;
	padding: 0.5em 0.5em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
	/*text-align: left;*/
	vertical-align: middle;
	font-weight: normal;
	letter-spacing: 0px;
	border: none;
        border-bottom:1px dotted #ffffff;
      
}

