/* ------------------
 styling for the tables
   ------------------   */


body
{
	line-height: 1.6em;
}




#test
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;

	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#test th
{
	background:#4e738f;
	color:#fff;
	font-weight:bold;
	font-size:9pt;
	text-align:left;
}
#test td
{
	padding: 2px;
	border-bottom: 1px solid #fff;
	color: #000;
	border-top: 1px solid #fff;
	background: #e8edff url('table-images/gradback.png') repeat-x;
}
#test tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#test tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}
